@font-face {
  font-family: 'Cinzel';
  font-style: normal;
  font-weight: 700;
  src: local('Cinzel Bold'), local('Cinzel-Bold'), url(../fonts/8vik7ww63mvu7gtztuhue2zf.ttf) format('truetype');
}
@font-face {
  font-family: 'Parisienne';
  font-style: normal;
  font-weight: 400;
  src: local('Parisienne'), local('Parisienne-Regular'), url(../fonts/e21i_d3kivvakxhlevzpqyhwcg.ttf) format('truetype');
}
@font-face {
  font-family: 'Playfair Display';
  font-style: normal;
  font-weight: 400;
  src: local('Playfair Display Regular'), local('PlayfairDisplay-Regular'), url(../fonts/nufid-vyszvivyub_rj3ij__anpxdtzyhq.ttf) format('truetype');
}
@font-face {
  font-family: 'Playfair Display';
  font-style: normal;
  font-weight: 700;
  src: local('Playfair Display Bold'), local('PlayfairDisplay-Bold'), url(../fonts/nufld-vyszvivyub_rj3ij__anpxbyf9lw4e4w.ttf) format('truetype');
}
@font-face {
  font-family: 'Playfair Display';
  font-style: normal;
  font-weight: 900;
  src: local('Playfair Display Black'), local('PlayfairDisplay-Black'), url(../fonts/nufld-vyszvivyub_rj3ij__anpxbb__lw4e4w.ttf) format('truetype');
}
